<!DOCTYPE html>
<html>
<head>
    <!-- bootstrap fontawesome -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- title -->
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {{ include("inc/navbar.html") }}
    <div class="container" style="margin-top: 75px;">
    <!-- flash feedback -->
    {% if feedback.success != "" %}
    <div class="alert alert-success" role="alert"><strong>Success!</strong> {{ feedback.success }}</div>
    {% endif %}

    {% if feedback.danger != "" %}
    <div class="alert alert-danger" role="alert"><strong>Oh no!</strong> {{ feedback.danger }}</div>
    {% endif %}

    {% if feedback.info != "" %}
    <div class="alert alert-info" role="alert"><strong>Heads up!</strong> {{ feedback.info }}</div>
    {% endif %}

    {% if feedback.warning != "" %}
    <div class="alert alert-warning" role="alert"><strong>Warning!</strong> {{ feedback.warning }}</div>
    {% endif %}
    <!--  -->
    
        {% block body %}
        {% endblock %}
    </div>
<!-- footer -->

<!-- end footer -->
<!-- jquery scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>


